<h2>Tu es mort !</h2>

<p>Salut <%= @target.first_name %> <%= @target.last_name %>, </p>

<p>Malheureusement pour toi, l'aventure s'arrete ici.<br /> Tu a été tué par <%= @hunter.first_name %> <%= @hunter.last_name %>.</p>

