<h2>Ta nouvelle cible !</h2>

<p>Salut <%= @hunter.first_name %> <%= @hunter.last_name %>, </p>

<p>Ta nouvelle cible est disponible.</p>
<p> Connecte toi sur <%= link_to ENV['WEBSITE_URL'], ENV['WEBSITE_URL'] %> pour la découvrir</p>

