<h2>Ouverture du Killer imminente !</h2>

<p>Salut <%= @participant.first_name %> <%= @participant.last_name %>, </p>

<p>Après un long moment de suspens l'édition 2015 du Killer ouvre enfin !</p>

<h3>Voilà le mode d'emploi: </h3>

<ul>
	<li>Vas sur le site: <%= link_to ENV['HOST'], ENV['HOST'] %> </li>
	<li>Ta victime sera affichée</li>
	<li>Quand tu killes ta victime, connecte toi sur le site et clic sur le bouton "J'AI ATTEINT MA CIBLE"</li>
	<li>Ta victime recevra un mail lui demandant de valider sa mort sur le site</li>
	<li>Puis, tu reçois un email et ta nouvelle victime apparaîtra sur le site et c'est reparti !
	(Tu peux lui demander de vive voix aussi si tu veux, of course, mais il faut à chaque fois annoncer la mort de ta victime sur le site)
	</li>
</ul>

<p><i>PS: On t'expliquera comment tuer la personne qui veut te tuer plus tard, dans un autre email.</i></p>


<h3>C'est partiiii ! A vous de mouiller !</h3>

<p>Petit rappel des lots à gagner (pour te motiver):</p>

<ul>
	<li>une place de gala pour la personne qui kill le plus de personne</li>

	<li>un lot surprise pour la personne qui killera de la manière la plus original et pour la personne qui killera avec le plus d'eau !</li>
</ul>
