<div class="col-sm-2 col-md-2">
        <div class="thumbnail">
          <img alt="100%x200" src="<%= asset_path('target.png') %>" data-holder-rendered="true" style="width: 100%; display: block;">
          <div class="caption">
            
            <p> - </p>
            <p> - </p>
          </div>
        </div>
      </div>