Pour valider ton inscription une participation de 0,50 € <br /> est à regler au BDE avant l'ouverture du killer, le 05 mai 2015.
<br />
<span class="label label-warning">PAIEMENT EN ATTENTE</span> <br/>