<div class="col-sm-2 col-md-2">
        <div class="thumbnail">
          <img alt="100%x200" src="https://etu.utt.fr/uploads/photos/edelinfa.jpg" data-holder-rendered="true" style="width: 100%; display: block;">
          <div class="caption">

            <p>Fanny</p>
            <p>EDELIN</p>
            <p><%= link_to 'J\'AI ATTEINT MA CIBLE', 'http://www.nyan.cat/', :data => { :confirm => 'Haha'},  class:'btn btn-default' %></p>
          </div>
        </div>
      </div>
