<span class="label label-success">INSCRIPTION COMPléte !</span> <br /><br />
Tu recevras un e-mail lors de l'ouverture du Killer, le <%= l(Game.current.beginning, format: :day_month_year) %> !
                          