    <section class="big-background">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=cwx_4z6XbW0',containment:'body',autoPlay:true, mute:false, startAt:32, opacity:1}"></a>
        
        <div class="pattern"></div> 
            <div class="big-background-container">
                    <h1 class="big-background-title">LE KILLER</h1>
                    <div class="divider"></div>
                    <h1 id="colorize">du 04 au 14 mai 2015</h1>
                    <a href="http://etu.utt.fr/" class="big-background-btn">JE M'INSCRIS</a>
            </div>                                                    
    </section>
    

   
    <div class="wrapper">

    <section class="about-section">
     
                <div class="about-section-container">
                    <h2 class="about-section-title">Coin coin !</h2>
                    <p>

Le jeu le plus aquatique de l'UTT est de retour !
Au programme chasse à l'homme et bombe à eau.
Viens y participer avec nous !

On va vous donner les informations dont vous avez besoin en temps et en heure alors prends ton mal en patience ;)

Et surtout n'oubliez pas, encore une victoire de canard !
<%= image_tag 'team-canard.png' %>
<%= image_tag 'bde-utt.jpg', width: '130' %>
</p>
                    <a href="https://www.facebook.com/events/569981283143791/" target="_blank" class="about-section-btn">EVENEMENT FACEBOOK</a>
                </div>

    </section>
            

     <section class="small-background-section">
     <div class="pattern"></div>
                    <div class="small-background-container">
                        
                    </div>
    </section>


</div>