<html>
  <body>
  	<img src= 'https://camo.githubusercontent.com/6ab3a2bc015aa5ec897167d4f0b4270426762630/687474703a2f2f636c2e6c792f696d6167652f337531453179335a3433324c2f53637265656e25323053686f74253230323031352d30342d3232253230617425323032322e34332e33392e706e67' alt='Killer' />
    <%= yield %>
  </body>
</html>
